<%- include('../partials/header') %>

<h2>Add Artists:</h2>
<input type="text" id="artist" name="artist" placeholder="Artist name">
<input id="searchArtist" type="submit" value="Search">

<div id="artistResults"></div>

<hr>

<% for(let artist of artists) { %>
    <div id="<%= artist.id %>">
        <p style="display: inline"><%= artist.name %></p>
        <input type="number" value="<%= artist.seenCount %>" name="seen" id="seen">
        <button>Update</button>
        <form style="display: inline" action="/artists/delete/<%= artist.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Remove">
        </form>
    </div>
<% } %>

<hr>

<h2>Subscriptions</h2>

<h3>Artists</h3>

<h3>Venues</h3>

<input type="text" id="venue" name="venue" placeholder="Venue name">
<input id="searchVenue" type="submit" value="Search">

<div id="venueResults"></div>



<script src="/js/profile.js"></script>

<%- include('../partials/footer') %>