<%- include('../partials/header') %>

<h1><%= user.username %>'s Profile</h1>

<h2>Seen Live: </h2>
<% for(let artist of artists) { %>
    <p><a href="https://open.spotify.com/artist/<%= artist.spotifyId %>"><%= artist.name %></a>: <%= artist.seenCount %> time(s)</p>
<% } %>

<h2>Comments:</h2>

<form action="/users/<%=user.username%>/comments" method="post">
    <div>
        <textarea name="content" id="content" cols="40" rows="4"></textarea>
    </div>
    <input type="submit" value="Add Comment">
</form>

<div id="comments">
    <% for (let comment of comments) { %>
        <div class="comment" style="border: 1px solid black; margin: 5px; padding: 5px;">
            <strong> <a href="/users/<%= comment.username %>"><%= comment.username %></a> said:</strong> <br>
            <p style="margin: 0"><%= comment.content %></p>
            <form action="/users/<%= user.username %>/comments/<%= comment.id %>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
            </form>
        </div>
    <% } %>
</div>

<%- include('../partials/footer') %>
